body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1108px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:214px;
  top:273px;
  width:876px;
  height:35px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:45px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:214px;
  top:308px;
  width:876px;
  height:191px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:201px;
}
#u3 {
  position:absolute;
  left:2px;
  top:88px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:218px;
  top:430px;
  width:76px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:296px;
  top:426px;
  width:120px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:387px;
  top:429px;
  width:24px;
  height:24px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:437px;
  top:432px;
  width:15px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:460px;
  top:426px;
  width:120px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:550px;
  top:429px;
  width:24px;
  height:24px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:513px;
  top:389px;
  width:96px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:589px;
  top:384px;
  width:200px;
  height:30px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18_input:disabled {
  color:grayText;
}
#u19 {
  position:absolute;
  left:865px;
  top:464px;
  width:94px;
  height:34px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:992px;
  top:472px;
  width:79px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:978px;
  top:476px;
  width:16px;
  height:14px;
  font-family:'', '', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:235px;
  top:337px;
  width:96px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:297px;
  top:332px;
  width:200px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:304px;
  top:337px;
  width:171px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:525px;
  top:337px;
  width:96px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:587px;
  top:332px;
  width:200px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:597px;
  top:337px;
  width:171px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:297px;
  top:383px;
  width:200px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:302px;
  top:388px;
  width:171px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:590px;
  top:432px;
  width:76px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:672px;
  top:426px;
  width:80px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:767px;
  top:432px;
  width:15px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:796px;
  top:425px;
  width:80px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:-1px;
  top:520px;
  width:1092px;
  height:538px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:548px;
}
#u50 {
  position:absolute;
  left:2px;
  top:261px;
  width:1088px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:949px;
  top:665px;
  width:8px;
  height:16px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  visibility:hidden;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:-10px;
  top:584px;
  width:1099px;
  height:38px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:38px;
}
#u54 {
  position:absolute;
  left:2px;
  top:11px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:484px;
  top:593px;
  width:86px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:579px;
  top:594px;
  width:133px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:687px;
  top:593px;
  width:86px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:765px;
  top:593px;
  width:86px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:839px;
  top:593px;
  width:86px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:895px;
  top:593px;
  width:86px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:140px;
  top:595px;
  width:86px;
  height:18px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:323px;
  top:633px;
  width:174px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:111px;
  top:635px;
  width:120px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:500px;
  top:632px;
  width:27px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:592px;
  top:638px;
  width:49px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:706px;
  top:639px;
  width:10px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:767px;
  top:639px;
  width:10px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:846px;
  top:640px;
  width:14px;
  height:18px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:895px;
  top:639px;
  width:74px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:503px;
  top:681px;
  width:27px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:596px;
  top:685px;
  width:49px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:711px;
  top:685px;
  width:10px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:772px;
  top:685px;
  width:10px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:851px;
  top:686px;
  width:14px;
  height:18px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:909px;
  top:685px;
  width:74px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1003px;
  top:538px;
  width:83px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u98 {
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:107px;
  top:682px;
  width:120px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:210px;
  top:100px;
  width:878px;
  height:157px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:167px;
}
#u102 {
  position:absolute;
  left:2px;
  top:70px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:210px;
  top:136px;
  width:879px;
  height:10px;
}
#u103_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_end {
  position:absolute;
  left:862px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_line {
  position:absolute;
  left:0px;
  top:5px;
  width:879px;
  height:1px;
}
#u104 {
  position:absolute;
  left:364px;
  top:108px;
  width:124px;
  height:25px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:547px;
  top:107px;
  width:163px;
  height:25px;
  font-size:18px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:759px;
  top:106px;
  width:163px;
  height:25px;
  font-size:18px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:928px;
  top:107px;
  width:190px;
  height:25px;
  font-size:18px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:384px;
  top:192px;
  width:77px;
  height:50px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#993366;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:591px;
  top:195px;
  width:51px;
  height:50px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#993366;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:789px;
  top:196px;
  width:51px;
  height:50px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#993366;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:981px;
  top:198px;
  width:51px;
  height:50px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#993366;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:387px;
  top:150px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:584px;
  top:151px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:789px;
  top:151px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:960px;
  top:153px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:211px;
  top:59px;
  width:878px;
  height:35px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:45px;
}
#u129 {
  position:absolute;
  left:2px;
  top:10px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:220px;
  top:63px;
  width:137px;
  height:25px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:972px;
  top:290px;
  width:94px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
}
#u133 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:1009px;
  top:593px;
  width:86px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1039px;
  top:640px;
  width:74px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1039px;
  top:687px;
  width:74px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:27px;
  top:595px;
  width:86px;
  height:18px;
  color:#FFFFFF;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:22px;
  top:635px;
  width:86px;
  height:18px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:23px;
  top:680px;
  width:86px;
  height:18px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:230px;
  top:109px;
  width:124px;
  height:25px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:232px;
  top:198px;
  width:102px;
  height:50px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#993366;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:238px;
  top:156px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:4px;
  top:-3px;
  width:1083px;
  height:56px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:66px;
}
#u154 {
  position:absolute;
  left:2px;
  top:20px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:103px;
  top:22px;
  width:189px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:25px;
  top:12px;
  width:71px;
  height:36px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u158 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:4px;
  top:99px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u159_img.mouseOver {
}
#u159.mouseOver {
}
#u160 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:976px;
  top:21px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:1015px;
  top:23px;
  width:10px;
  height:15px;
}
#u163_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u163_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u163_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u164 {
  position:absolute;
  left:1033px;
  top:21px;
  width:48px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:4px;
  top:55px;
  width:200px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u166_img.mouseOver {
}
#u166.mouseOver {
}
#u167 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:5px;
  top:325px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u168_img.mouseOver {
}
#u168.mouseOver {
}
#u169 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:5px;
  top:370px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u170_img.mouseOver {
}
#u170.mouseOver {
}
#u171 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:4px;
  top:189px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u172_img.mouseOver {
}
#u172.mouseOver {
}
#u173 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:4px;
  top:234px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u174_img.mouseOver {
}
#u174.mouseOver {
}
#u175 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:4px;
  top:279px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u176_img.mouseOver {
}
#u176.mouseOver {
}
#u177 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:4px;
  top:418px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u178_img.mouseOver {
}
#u178.mouseOver {
}
#u179 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:4px;
  top:144px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u180_img.mouseOver {
}
#u180.mouseOver {
}
#u181 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:203px;
  top:21px;
  width:156px;
  height:18px;
  color:#FFFFFF;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:18px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:320px;
  top:21px;
  width:360px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:22px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:221px;
  top:1029px;
  width:105px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:317px;
  top:1029px;
  width:19px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:356px;
  top:1029px;
  width:19px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:388px;
  top:1029px;
  width:31px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:307px;
  top:1033px;
  width:10px;
  height:16px;
}
#u194_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u194_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u194_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u195 {
  position:absolute;
  left:345px;
  top:1032px;
  width:10px;
  height:16px;
}
#u195_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u195_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u195_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u196 {
  position:absolute;
  left:377px;
  top:1031px;
  width:10px;
  height:16px;
}
#u196_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u196_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u196_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u197 {
  position:absolute;
  left:419px;
  top:1031px;
  width:10px;
  height:16px;
}
#u197_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u197_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u197_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u198 {
  position:absolute;
  left:604px;
  top:1030px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u200 {
  position:absolute;
  left:876px;
  top:1028px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:654px;
  top:1029px;
  width:19px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u204 {
  position:absolute;
  left:685px;
  top:1030px;
  width:19px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u206 {
  position:absolute;
  left:710px;
  top:1030px;
  width:19px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u208 {
  position:absolute;
  left:741px;
  top:1024px;
  width:26px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u209 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:779px;
  top:1028px;
  width:19px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:808px;
  top:1028px;
  width:43px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:845px;
  top:1028px;
  width:43px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:926px;
  top:1028px;
  width:125px;
  height:18px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:18px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:1028px;
  top:1024px;
  width:47px;
  height:24px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:24px;
}
#u219 {
  position:absolute;
  left:2px;
  top:3px;
  width:43px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:906px;
  top:546px;
  width:84px;
  height:22px;
}
#u220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u220_input:disabled {
  color:grayText;
}
#u221 {
  position:absolute;
  left:799px;
  top:384px;
  width:109px;
  height:30px;
}
#u221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u221_input:disabled {
  color:grayText;
}
#u222 {
  position:absolute;
  left:797px;
  top:335px;
  width:96px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:873px;
  top:330px;
  width:200px;
  height:30px;
}
#u224_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u224_input:disabled {
  color:grayText;
}
#u225 {
  position:absolute;
  left:248px;
  top:596px;
  width:86px;
  height:18px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:373px;
  top:596px;
  width:86px;
  height:18px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:224px;
  top:635px;
  width:120px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:3px;
  top:663px;
  width:1086px;
  height:10px;
}
#u231_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u231_end {
  position:absolute;
  left:1069px;
  top:-5px;
  width:18px;
  height:20px;
}
#u231_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1086px;
  height:1px;
}
#u232 {
  position:absolute;
  left:3px;
  top:713px;
  width:1086px;
  height:10px;
}
#u232_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u232_end {
  position:absolute;
  left:1069px;
  top:-5px;
  width:18px;
  height:20px;
}
#u232_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1086px;
  height:1px;
}
#u233 {
  position:absolute;
  left:319px;
  top:682px;
  width:174px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:220px;
  top:684px;
  width:120px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:1px;
  top:766px;
  width:1086px;
  height:10px;
}
#u237_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u237_end {
  position:absolute;
  left:1069px;
  top:-5px;
  width:18px;
  height:20px;
}
#u237_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1086px;
  height:1px;
}
#u238 {
  position:absolute;
  left:504px;
  top:734px;
  width:27px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u240 {
  position:absolute;
  left:597px;
  top:738px;
  width:49px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u242 {
  position:absolute;
  left:712px;
  top:738px;
  width:10px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u244 {
  position:absolute;
  left:773px;
  top:738px;
  width:10px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u246 {
  position:absolute;
  left:852px;
  top:739px;
  width:14px;
  height:18px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u248 {
  position:absolute;
  left:910px;
  top:738px;
  width:74px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:108px;
  top:735px;
  width:120px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:1040px;
  top:740px;
  width:74px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:24px;
  top:733px;
  width:86px;
  height:18px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:320px;
  top:735px;
  width:174px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:221px;
  top:737px;
  width:120px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:0px;
  top:819px;
  width:1086px;
  height:10px;
}
#u260_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u260_end {
  position:absolute;
  left:1069px;
  top:-5px;
  width:18px;
  height:20px;
}
#u260_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1086px;
  height:1px;
}
#u261 {
  position:absolute;
  left:503px;
  top:787px;
  width:27px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u263 {
  position:absolute;
  left:596px;
  top:791px;
  width:49px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u265 {
  position:absolute;
  left:711px;
  top:791px;
  width:10px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u267 {
  position:absolute;
  left:772px;
  top:791px;
  width:10px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u269 {
  position:absolute;
  left:851px;
  top:792px;
  width:14px;
  height:18px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u271 {
  position:absolute;
  left:909px;
  top:791px;
  width:74px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:107px;
  top:788px;
  width:120px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u275 {
  position:absolute;
  left:1039px;
  top:793px;
  width:74px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u277 {
  position:absolute;
  left:23px;
  top:786px;
  width:86px;
  height:18px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:319px;
  top:788px;
  width:174px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u281 {
  position:absolute;
  left:220px;
  top:790px;
  width:120px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
}
#u282 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u283 {
  position:absolute;
  left:156px;
  top:877px;
  width:25px;
  height:16px;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  visibility:hidden;
  white-space:nowrap;
}
