body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:708px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:89px;
  top:100px;
  width:177px;
  height:77px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:77px;
}
#u1 {
  position:absolute;
  left:2px;
  top:20px;
  width:173px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:310px;
  top:101px;
  width:177px;
  height:77px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:77px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:531px;
  top:100px;
  width:177px;
  height:77px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:77px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:173px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:89px;
  top:241px;
  width:619px;
  height:80px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:80px;
}
#u7 {
  position:absolute;
  left:2px;
  top:31px;
  width:615px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:89px;
  top:373px;
  width:177px;
  height:77px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:77px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:173px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:531px;
  top:374px;
  width:177px;
  height:77px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:77px;
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:173px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:169px;
  top:239px;
  width:0px;
  height:-62px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12_seg0 {
  position:absolute;
  left:-10px;
  top:-66px;
  width:20px;
  height:76px;
}
#u13 {
  position:absolute;
  left:-50px;
  top:-40px;
  width:100px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:396px;
  top:239px;
  width:0px;
  height:-62px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14_seg0 {
  position:absolute;
  left:-10px;
  top:-66px;
  width:20px;
  height:76px;
}
#u15 {
  position:absolute;
  left:-50px;
  top:-40px;
  width:100px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:618px;
  top:239px;
  width:0px;
  height:-62px;
}
#u16_seg0 {
  position:absolute;
  left:-10px;
  top:-66px;
  width:20px;
  height:76px;
}
#u17 {
  position:absolute;
  left:-50px;
  top:-40px;
  width:100px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:171px;
  top:322px;
  width:0px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:65px;
}
#u19 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:622px;
  top:321px;
  width:0px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:65px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
