body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1079px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:10px;
  width:1079px;
  height:56px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:66px;
}
#u2 {
  position:absolute;
  left:2px;
  top:20px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:95px;
  top:35px;
  width:189px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:17px;
  top:25px;
  width:71px;
  height:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:968px;
  top:34px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1007px;
  top:36px;
  width:10px;
  height:15px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u10 {
  position:absolute;
  left:1025px;
  top:34px;
  width:48px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:70px;
  width:1079px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:45px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:985px;
  top:76px;
  width:83px;
  height:24px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:3px;
  width:79px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:316px;
  top:34px;
  width:360px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1px;
  top:115px;
  width:1078px;
  height:503px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:513px;
}
#u19 {
  position:absolute;
  left:2px;
  top:244px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:9px;
  top:127px;
  width:113px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:121px;
  top:127px;
  width:113px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:175px;
  width:1079px;
  height:32px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:32px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:476px;
  top:182px;
  width:37px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:315px;
  top:182px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:673px;
  top:182px;
  width:37px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:929px;
  top:182px;
  width:56px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:9px;
  top:238px;
  width:1059px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:1042px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1059px;
  height:1px;
}
#u35 {
  position:absolute;
  left:306px;
  top:220px;
  width:67px;
  height:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:439px;
  top:221px;
  width:144px;
  height:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:669px;
  top:220px;
  width:144px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:907px;
  top:220px;
  width:144px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:233px;
  top:127px;
  width:113px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:345px;
  top:127px;
  width:113px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:161px;
  top:182px;
  width:105px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:17px;
  top:182px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:17px;
  top:220px;
  width:67px;
  height:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:187px;
  top:220px;
  width:67px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
