body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1089px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:211px;
  top:61px;
  width:878px;
  height:35px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:45px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:220px;
  top:65px;
  width:314px;
  height:25px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:978px;
  top:24px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1017px;
  top:26px;
  width:10px;
  height:15px;
}
#u6_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u6_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u6_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u7 {
  position:absolute;
  left:1035px;
  top:24px;
  width:48px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:216px;
  top:145px;
  width:873px;
  height:37px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:37px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:236px;
  top:154px;
  width:117px;
  height:18px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:989px;
  top:65px;
  width:76px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:216px;
  top:181px;
  width:873px;
  height:99px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:99px;
}
#u16 {
  position:absolute;
  left:2px;
  top:42px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:243px;
  top:205px;
  width:76px;
  height:19px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:216px;
  top:278px;
  width:873px;
  height:99px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:99px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:246px;
  top:310px;
  width:76px;
  height:19px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:216px;
  top:376px;
  width:873px;
  height:99px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:99px;
}
#u24 {
  position:absolute;
  left:2px;
  top:42px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:248px;
  top:404px;
  width:76px;
  height:1px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:213px;
  top:103px;
  width:876px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:221px;
  top:108px;
  width:191px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:370px;
  top:108px;
  width:191px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:528px;
  top:107px;
  width:191px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:678px;
  top:108px;
  width:191px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:307px;
  top:155px;
  width:117px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:310px;
  top:212px;
  width:102px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:313px;
  top:314px;
  width:102px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:306px;
  top:405px;
  width:102px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:836px;
  top:197px;
  width:68px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:312px;
  top:230px;
  width:54px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:313px;
  top:342px;
  width:54px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:313px;
  top:433px;
  width:54px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:452px;
  top:202px;
  width:44px;
  height:45px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u54 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:397px;
  top:256px;
  width:242px;
  height:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:925px;
  top:202px;
  width:54px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u58 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:989px;
  top:202px;
  width:75px;
  height:26px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u60 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:216px;
  top:517px;
  width:873px;
  height:37px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:37px;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:236px;
  top:526px;
  width:117px;
  height:18px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:216px;
  top:553px;
  width:873px;
  height:99px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:99px;
}
#u66 {
  position:absolute;
  left:2px;
  top:42px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:243px;
  top:577px;
  width:76px;
  height:19px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:216px;
  top:650px;
  width:873px;
  height:99px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:99px;
}
#u70 {
  position:absolute;
  left:2px;
  top:42px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:246px;
  top:682px;
  width:76px;
  height:19px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:216px;
  top:748px;
  width:873px;
  height:99px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:99px;
}
#u74 {
  position:absolute;
  left:2px;
  top:42px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:248px;
  top:776px;
  width:76px;
  height:1px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:1px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:314px;
  top:527px;
  width:117px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:317px;
  top:584px;
  width:102px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:320px;
  top:686px;
  width:102px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:313px;
  top:777px;
  width:102px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:319px;
  top:612px;
  width:54px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:315px;
  top:715px;
  width:54px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u88 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:319px;
  top:799px;
  width:54px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u90 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:905px;
  top:574px;
  width:54px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u92 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:980px;
  top:574px;
  width:69px;
  height:26px;
  color:#FFFFFF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:6px;
  top:0px;
  width:1083px;
  height:56px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:66px;
}
#u97 {
  position:absolute;
  left:2px;
  top:20px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:105px;
  top:25px;
  width:189px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:27px;
  top:15px;
  width:71px;
  height:36px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u101 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:6px;
  top:102px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u102_img.mouseOver {
}
#u102.mouseOver {
}
#u103 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:978px;
  top:24px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:1017px;
  top:26px;
  width:10px;
  height:15px;
}
#u106_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u106_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u106_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u107 {
  position:absolute;
  left:1035px;
  top:24px;
  width:48px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:6px;
  top:58px;
  width:200px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u109_img.mouseOver {
}
#u109.mouseOver {
}
#u110 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:7px;
  top:328px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u111_img.mouseOver {
}
#u111.mouseOver {
}
#u112 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:7px;
  top:373px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u113_img.mouseOver {
}
#u113.mouseOver {
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:6px;
  top:192px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u115_img.mouseOver {
}
#u115.mouseOver {
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:6px;
  top:237px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u117_img.mouseOver {
}
#u117.mouseOver {
}
#u118 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:6px;
  top:282px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u119_img.mouseOver {
}
#u119.mouseOver {
}
#u120 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:6px;
  top:421px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u121_img.mouseOver {
}
#u121.mouseOver {
}
#u122 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:6px;
  top:147px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u123_img.mouseOver {
}
#u123.mouseOver {
}
#u124 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:205px;
  top:24px;
  width:156px;
  height:18px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:18px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:322px;
  top:24px;
  width:360px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:22px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:483px;
  top:200px;
  width:100px;
  height:16px;
}
#u130 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u131 {
  position:absolute;
  left:606px;
  top:202px;
  width:44px;
  height:45px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u132 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:554px;
  top:256px;
  width:242px;
  height:18px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:771px;
  top:202px;
  width:44px;
  height:45px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u136 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:716px;
  top:256px;
  width:242px;
  height:18px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:636px;
  top:200px;
  width:100px;
  height:16px;
}
#u140 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u141 {
  position:absolute;
  left:800px;
  top:200px;
  width:100px;
  height:16px;
}
#u142 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u143 {
  position:absolute;
  left:828px;
  top:290px;
  width:68px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u144 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:444px;
  top:295px;
  width:44px;
  height:45px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u146 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:389px;
  top:349px;
  width:242px;
  height:18px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:917px;
  top:295px;
  width:54px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u150 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:981px;
  top:295px;
  width:75px;
  height:26px;
  color:#FFFFFF;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u152 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:475px;
  top:293px;
  width:100px;
  height:16px;
}
#u154 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u155 {
  position:absolute;
  left:598px;
  top:295px;
  width:44px;
  height:45px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u156 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:546px;
  top:349px;
  width:242px;
  height:18px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:763px;
  top:295px;
  width:44px;
  height:45px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u160 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:708px;
  top:349px;
  width:242px;
  height:18px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:628px;
  top:293px;
  width:100px;
  height:16px;
}
#u164 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u165 {
  position:absolute;
  left:792px;
  top:293px;
  width:100px;
  height:16px;
}
#u166 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u167 {
  position:absolute;
  left:830px;
  top:391px;
  width:68px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u168 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:450px;
  top:393px;
  width:44px;
  height:45px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u170 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:395px;
  top:447px;
  width:242px;
  height:18px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:923px;
  top:393px;
  width:54px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u174 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:987px;
  top:393px;
  width:75px;
  height:26px;
  color:#FFFFFF;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u176 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:481px;
  top:391px;
  width:100px;
  height:16px;
}
#u178 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u179 {
  position:absolute;
  left:604px;
  top:393px;
  width:44px;
  height:45px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u180 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:552px;
  top:447px;
  width:242px;
  height:18px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:769px;
  top:393px;
  width:44px;
  height:45px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u184 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:714px;
  top:447px;
  width:242px;
  height:18px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:634px;
  top:391px;
  width:100px;
  height:16px;
}
#u188 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u189 {
  position:absolute;
  left:798px;
  top:391px;
  width:100px;
  height:16px;
}
#u190 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u191 {
  position:absolute;
  left:965px;
  top:522px;
  width:97px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
}
#u192 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:987px;
  top:439px;
  width:75px;
  height:26px;
  color:#FFFFFF;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u194 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:987px;
  top:341px;
  width:75px;
  height:26px;
  color:#FFFFFF;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u196 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:448px;
  top:570px;
  width:44px;
  height:45px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u198 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:393px;
  top:624px;
  width:242px;
  height:18px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:479px;
  top:568px;
  width:100px;
  height:16px;
}
#u202 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u203 {
  position:absolute;
  left:602px;
  top:570px;
  width:44px;
  height:45px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u204 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:550px;
  top:624px;
  width:242px;
  height:18px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:767px;
  top:570px;
  width:44px;
  height:45px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u208 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:712px;
  top:624px;
  width:242px;
  height:18px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:632px;
  top:568px;
  width:100px;
  height:16px;
}
#u212 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u213 {
  position:absolute;
  left:796px;
  top:568px;
  width:100px;
  height:16px;
}
#u214 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u215 {
  position:absolute;
  left:983px;
  top:616px;
  width:69px;
  height:26px;
  color:#FFFFFF;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
}
#u216 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:827px;
  top:568px;
  width:68px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u218 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:902px;
  top:673px;
  width:54px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u220 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:977px;
  top:673px;
  width:69px;
  height:26px;
  color:#FFFFFF;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
}
#u222 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:445px;
  top:669px;
  width:44px;
  height:45px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u224 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:390px;
  top:723px;
  width:242px;
  height:18px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:476px;
  top:667px;
  width:100px;
  height:16px;
}
#u228 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u229 {
  position:absolute;
  left:599px;
  top:669px;
  width:44px;
  height:45px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u230 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:547px;
  top:723px;
  width:242px;
  height:18px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:764px;
  top:669px;
  width:44px;
  height:45px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u234 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:709px;
  top:723px;
  width:242px;
  height:18px;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:629px;
  top:667px;
  width:100px;
  height:16px;
}
#u238 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u239 {
  position:absolute;
  left:793px;
  top:667px;
  width:100px;
  height:16px;
}
#u240 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u241 {
  position:absolute;
  left:980px;
  top:715px;
  width:69px;
  height:26px;
  color:#FFFFFF;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
}
#u242 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:824px;
  top:667px;
  width:68px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u244 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:904px;
  top:765px;
  width:54px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u246 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:979px;
  top:765px;
  width:69px;
  height:26px;
  color:#FFFFFF;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
}
#u248 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:447px;
  top:761px;
  width:44px;
  height:45px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u250 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:392px;
  top:815px;
  width:242px;
  height:18px;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:478px;
  top:759px;
  width:100px;
  height:16px;
}
#u254 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u255 {
  position:absolute;
  left:601px;
  top:761px;
  width:44px;
  height:45px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u256 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:549px;
  top:815px;
  width:242px;
  height:18px;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:766px;
  top:761px;
  width:44px;
  height:45px;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u260 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:711px;
  top:815px;
  width:242px;
  height:18px;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:631px;
  top:759px;
  width:100px;
  height:16px;
}
#u264 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u265 {
  position:absolute;
  left:795px;
  top:759px;
  width:100px;
  height:16px;
}
#u266 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u267 {
  position:absolute;
  left:982px;
  top:807px;
  width:69px;
  height:26px;
  color:#FFFFFF;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
}
#u268 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:826px;
  top:759px;
  width:68px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u270 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
