body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:21px;
  top:14px;
  width:168px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:54px;
}
#u1 {
  position:absolute;
  left:2px;
  top:18px;
  width:164px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:55px;
  top:192px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:299px;
  top:192px;
  width:157px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:21px;
  width:153px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:155px;
  top:222px;
  width:144px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:158px;
  height:20px;
}
#u7 {
  position:absolute;
  left:22px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:583px;
  top:192px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:456px;
  top:222px;
  width:127px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:141px;
  height:20px;
}
#u11 {
  position:absolute;
  left:14px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:783px;
  top:192px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:683px;
  top:222px;
  width:100px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:114px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:964px;
  top:192px;
  width:151px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:21px;
  width:147px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:883px;
  top:222px;
  width:81px;
  height:0px;
}
#u18_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:95px;
  height:20px;
}
#u19 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1207px;
  top:192px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1115px;
  top:222px;
  width:92px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:106px;
  height:20px;
}
#u23 {
  position:absolute;
  left:-4px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1207px;
  top:322px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1257px;
  top:252px;
  width:0px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u27 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:833px;
  top:192px;
  width:-728px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28_seg0 {
  position:absolute;
  left:-10px;
  top:-67px;
  width:20px;
  height:71px;
}
#u28_seg1 {
  position:absolute;
  left:-738px;
  top:-67px;
  width:748px;
  height:20px;
}
#u28_seg2 {
  position:absolute;
  left:-738px;
  top:-67px;
  width:20px;
  height:71px;
}
#u29 {
  position:absolute;
  left:-414px;
  top:-66px;
  width:100px;
  word-wrap:break-word;
}
