body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1244px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:0px;
  width:1079px;
  height:56px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:66px;
}
#u2 {
  position:absolute;
  left:2px;
  top:20px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:105px;
  top:25px;
  width:189px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:27px;
  top:15px;
  width:71px;
  height:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:978px;
  top:24px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1017px;
  top:26px;
  width:10px;
  height:15px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u10 {
  position:absolute;
  left:1035px;
  top:24px;
  width:48px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:60px;
  width:1079px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:45px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:995px;
  top:66px;
  width:83px;
  height:24px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:3px;
  width:79px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:326px;
  top:24px;
  width:360px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:61px;
  width:1079px;
  height:35px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:45px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:30px;
  top:65px;
  width:223px;
  height:25px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:25px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:10px;
  top:106px;
  width:1079px;
  height:35px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:45px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:27px;
  top:111px;
  width:137px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:10px;
  top:141px;
  width:1079px;
  height:72px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:82px;
}
#u27 {
  position:absolute;
  left:2px;
  top:28px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:95px;
  top:158px;
  width:113px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:35px;
  top:158px;
  width:40px;
  height:40px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:9px;
  top:604px;
  width:1079px;
  height:35px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:35px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:608px;
  width:137px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:9px;
  top:256px;
  width:1079px;
  height:182px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:192px;
}
#u37 {
  position:absolute;
  left:2px;
  top:83px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:25px;
  top:270px;
  width:535px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:26px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:26px;
  top:302px;
  width:646px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:26px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:25px;
  top:333px;
  width:120px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:23px;
  top:360px;
  width:300px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:10px;
  top:220px;
  width:1079px;
  height:35px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:35px;
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:23px;
  top:224px;
  width:137px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:9px;
  top:639px;
  width:1079px;
  height:200px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:210px;
}
#u51 {
  position:absolute;
  left:2px;
  top:92px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:9px;
  top:673px;
  width:1079px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:1062px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1079px;
  height:1px;
}
#u53 {
  position:absolute;
  left:95px;
  top:647px;
  width:258px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:18px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:310px;
  top:650px;
  width:258px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:569px;
  top:649px;
  width:258px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:790px;
  top:649px;
  width:258px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:986px;
  top:649px;
  width:258px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:12px;
  top:705px;
  width:105px;
  height:71px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:71px;
}
#u64 {
  position:absolute;
  left:2px;
  top:28px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:127px;
  top:724px;
  width:153px;
  height:19px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:19px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:326px;
  top:724px;
  width:96px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:577px;
  top:725px;
  width:96px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:789px;
  top:726px;
  width:96px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:996px;
  top:726px;
  width:96px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:10px;
  top:839px;
  width:1079px;
  height:35px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:35px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:19px;
  top:844px;
  width:137px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:896px;
  top:846px;
  width:279px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:22px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:998px;
  top:110px;
  width:77px;
  height:27px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
}
#u82 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:995px;
  top:67px;
  width:83px;
  height:24px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
}
#u84 {
  position:absolute;
  left:2px;
  top:3px;
  width:79px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:10px;
  top:884px;
  width:1079px;
  height:100px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:110px;
}
#u86 {
  position:absolute;
  left:2px;
  top:42px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:18px;
  top:900px;
  width:169px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:132px;
  top:895px;
  width:200px;
  height:30px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u89_input:disabled {
  color:grayText;
}
#u90 {
  position:absolute;
  left:889px;
  top:922px;
  width:170px;
  height:44px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:44px;
}
#u91 {
  position:absolute;
  left:2px;
  top:13px;
  width:166px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:10px;
  top:1033px;
  width:1079px;
  height:206px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:216px;
}
#u93 {
  position:absolute;
  left:2px;
  top:95px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:27px;
  top:1061px;
  width:132px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:18px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:475px;
  top:1061px;
  width:132px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:18px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:950px;
  top:1055px;
  width:132px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:18px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:23px;
  top:1089px;
  width:196px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:471px;
  top:1090px;
  width:196px;
  height:18px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:925px;
  top:1083px;
  width:196px;
  height:18px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:20px;
  top:1129px;
  width:196px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:468px;
  top:1131px;
  width:196px;
  height:18px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:922px;
  top:1123px;
  width:196px;
  height:18px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:23px;
  top:1177px;
  width:196px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:468px;
  top:1179px;
  width:196px;
  height:18px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:925px;
  top:1171px;
  width:196px;
  height:18px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:10px;
  top:998px;
  width:1079px;
  height:35px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:35px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:19px;
  top:1003px;
  width:137px;
  height:30px;
  font-size:18px;
  color:#FFFFFF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:10px;
  top:443px;
  width:1079px;
  height:35px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:35px;
}
#u123 {
  position:absolute;
  left:2px;
  top:10px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:23px;
  top:447px;
  width:137px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:10px;
  top:478px;
  width:1079px;
  height:117px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:127px;
}
#u127 {
  position:absolute;
  left:2px;
  top:50px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:25px;
  top:498px;
  width:401px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:26px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:25px;
  top:534px;
  width:229px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:26px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:220px;
  top:533px;
  width:76px;
  height:23px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:23px;
}
#u133 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:36px;
  top:387px;
  width:300px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:24px;
  top:413px;
  width:300px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
