body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1079px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:56px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:66px;
}
#u2 {
  position:absolute;
  left:2px;
  top:20px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:95px;
  top:25px;
  width:189px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:17px;
  top:15px;
  width:71px;
  height:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:968px;
  top:24px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1007px;
  top:26px;
  width:10px;
  height:15px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u10 {
  position:absolute;
  left:1025px;
  top:24px;
  width:48px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:60px;
  width:1079px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:45px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:985px;
  top:66px;
  width:83px;
  height:24px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:3px;
  width:79px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:316px;
  top:24px;
  width:360px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:3px;
  top:62px;
  width:1076px;
  height:39px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  height:49px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:1072px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:15px;
  top:68px;
  width:390px;
  height:23px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:23px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:3px;
  top:111px;
  width:1076px;
  height:619px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  height:629px;
}
#u23 {
  position:absolute;
  left:2px;
  top:302px;
  width:1072px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:27px;
  top:207px;
  width:65px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:15px;
  top:120px;
  width:390px;
  height:22px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:684px;
  top:260px;
  width:171px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:299px;
  top:207px;
  width:67px;
  height:37px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:169px;
  top:154px;
  width:106px;
  height:90px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:90px;
}
#u33 {
  position:absolute;
  left:2px;
  top:37px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:44px;
  top:309px;
  width:124px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:44px;
  top:370px;
  width:124px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:548px;
  top:305px;
  width:106px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:548px;
  top:362px;
  width:106px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:44px;
  top:442px;
  width:33px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:76px;
  top:498px;
  width:109px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u45 {
  position:absolute;
  left:16px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u44_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46 {
  position:absolute;
  left:76px;
  top:524px;
  width:109px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u47 {
  position:absolute;
  left:16px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u46_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48 {
  position:absolute;
  left:414px;
  top:498px;
  width:109px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u49 {
  position:absolute;
  left:16px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u48_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50 {
  position:absolute;
  left:229px;
  top:498px;
  width:109px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51 {
  position:absolute;
  left:16px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u50_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52 {
  position:absolute;
  left:237px;
  top:528px;
  width:109px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u53 {
  position:absolute;
  left:16px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u52_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u54 {
  position:absolute;
  left:424px;
  top:653px;
  width:123px;
  height:37px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:47px;
}
#u55 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:180px;
  top:305px;
  width:189px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:180px;
  top:366px;
  width:189px;
  height:30px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:666px;
  top:297px;
  width:189px;
  height:30px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:666px;
  top:362px;
  width:189px;
  height:30px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
