body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1079px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:56px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:66px;
}
#u2 {
  position:absolute;
  left:2px;
  top:20px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:95px;
  top:25px;
  width:189px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:17px;
  top:15px;
  width:71px;
  height:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:968px;
  top:24px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1007px;
  top:26px;
  width:10px;
  height:15px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u10 {
  position:absolute;
  left:1025px;
  top:24px;
  width:48px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:60px;
  width:1079px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:45px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:985px;
  top:66px;
  width:83px;
  height:24px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:3px;
  width:79px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:316px;
  top:24px;
  width:360px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:2px;
  top:62px;
  width:1077px;
  height:39px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1087px;
  height:49px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:14px;
  top:68px;
  width:391px;
  height:23px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:23px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:2px;
  top:111px;
  width:1077px;
  height:549px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1087px;
  height:559px;
}
#u23 {
  position:absolute;
  left:2px;
  top:266px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:26px;
  top:172px;
  width:65px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:14px;
  top:120px;
  width:391px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:26px;
  top:281px;
  width:101px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:109px;
  top:280px;
  width:148px;
  height:30px;
  font-size:16px;
  color:#000000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:144px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:26px;
  top:321px;
  width:101px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:26px;
  top:490px;
  width:101px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:76px;
  top:490px;
  width:189px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:185px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:26px;
  top:540px;
  width:101px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:76px;
  top:540px;
  width:189px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:185px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:168px;
  top:325px;
  width:172px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:22px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:168px;
  top:152px;
  width:107px;
  height:90px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:90px;
}
#u45 {
  position:absolute;
  left:2px;
  top:37px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:26px;
  top:360px;
  width:101px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:103px;
  top:355px;
  width:284px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:280px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:26px;
  top:600px;
  width:101px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:76px;
  top:600px;
  width:189px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:185px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:26px;
  top:403px;
  width:101px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:70px;
  top:395px;
  width:195px;
  height:30px;
  font-size:16px;
  color:#000000;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:26px;
  top:453px;
  width:101px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:70px;
  top:445px;
  width:195px;
  height:30px;
  font-size:16px;
  color:#000000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:576px;
  top:607px;
  width:170px;
  height:33px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u63 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
