body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1212px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:211px;
  top:61px;
  width:878px;
  height:35px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:45px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:220px;
  top:65px;
  width:137px;
  height:25px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:213px;
  top:139px;
  width:876px;
  height:125px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:135px;
}
#u5 {
  position:absolute;
  left:2px;
  top:54px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:978px;
  top:24px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1017px;
  top:26px;
  width:10px;
  height:15px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u9 {
  position:absolute;
  left:1035px;
  top:24px;
  width:48px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:503px;
  top:168px;
  width:104px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:611px;
  top:164px;
  width:120px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:702px;
  top:167px;
  width:24px;
  height:24px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:752px;
  top:170px;
  width:15px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:775px;
  top:164px;
  width:120px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:865px;
  top:167px;
  width:24px;
  height:24px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:855px;
  top:221px;
  width:94px;
  height:34px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:982px;
  top:229px;
  width:79px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:968px;
  top:233px;
  width:16px;
  height:14px;
  font-family:'', '', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:223px;
  top:168px;
  width:96px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:285px;
  top:163px;
  width:200px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:295px;
  top:168px;
  width:171px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:213px;
  top:406px;
  width:876px;
  height:37px;
  color:#1E1E1E;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:47px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:214px;
  top:442px;
  width:875px;
  height:38px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:38px;
}
#u38 {
  position:absolute;
  left:2px;
  top:11px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:214px;
  top:479px;
  width:875px;
  height:44px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:44px;
}
#u40 {
  position:absolute;
  left:2px;
  top:14px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:372px;
  top:453px;
  width:126px;
  height:16px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:505px;
  top:452px;
  width:126px;
  height:16px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:704px;
  top:451px;
  width:126px;
  height:16px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:214px;
  top:522px;
  width:875px;
  height:44px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:44px;
}
#u48 {
  position:absolute;
  left:2px;
  top:14px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:214px;
  top:565px;
  width:875px;
  height:44px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:44px;
}
#u50 {
  position:absolute;
  left:2px;
  top:14px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:214px;
  top:608px;
  width:875px;
  height:44px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:44px;
}
#u52 {
  position:absolute;
  left:2px;
  top:14px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:214px;
  top:651px;
  width:875px;
  height:132px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:132px;
}
#u54 {
  position:absolute;
  left:2px;
  top:58px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:378px;
  top:495px;
  width:177px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:380px;
  top:537px;
  width:177px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:379px;
  top:578px;
  width:177px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:375px;
  top:619px;
  width:177px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:377px;
  top:666px;
  width:177px;
  height:18px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:525px;
  top:495px;
  width:177px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:526px;
  top:539px;
  width:177px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:526px;
  top:580px;
  width:177px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:526px;
  top:623px;
  width:177px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:526px;
  top:666px;
  width:177px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:647px;
  top:492px;
  width:177px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:647px;
  top:539px;
  width:177px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:647px;
  top:580px;
  width:177px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:641px;
  top:623px;
  width:177px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:645px;
  top:666px;
  width:177px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:237px;
  top:454px;
  width:126px;
  height:16px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:227px;
  top:496px;
  width:126px;
  height:16px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:227px;
  top:539px;
  width:126px;
  height:16px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:227px;
  top:579px;
  width:126px;
  height:16px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:227px;
  top:622px;
  width:126px;
  height:16px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:227px;
  top:667px;
  width:126px;
  height:16px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:604px;
  top:168px;
  width:171px;
  height:16px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:470px;
  top:654px;
  width:200px;
  height:15px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:821px;
  top:453px;
  width:218px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:20px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:844px;
  top:536px;
  width:218px;
  height:20px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:20px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:845px;
  top:577px;
  width:218px;
  height:20px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:20px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:845px;
  top:618px;
  width:218px;
  height:20px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:20px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:844px;
  top:662px;
  width:218px;
  height:20px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:20px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:843px;
  top:492px;
  width:218px;
  height:20px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:20px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:994px;
  top:453px;
  width:218px;
  height:20px;
  font-size:14px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:20px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:937px;
  top:494px;
  width:124px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:213px;
  top:274px;
  width:876px;
  height:125px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:135px;
}
#u118 {
  position:absolute;
  left:2px;
  top:54px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:229px;
  top:305px;
  width:96px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:289px;
  top:300px;
  width:200px;
  height:30px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:295px;
  top:305px;
  width:171px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:511px;
  top:305px;
  width:96px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:570px;
  top:301px;
  width:200px;
  height:30px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:577px;
  top:305px;
  width:171px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:219px;
  top:354px;
  width:96px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:289px;
  top:349px;
  width:200px;
  height:30px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:295px;
  top:354px;
  width:171px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:471px;
  top:355px;
  width:14px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:854px;
  top:353px;
  width:94px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:982px;
  top:496px;
  width:153px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:977px;
  top:540px;
  width:153px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:977px;
  top:579px;
  width:153px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:976px;
  top:624px;
  width:153px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:978px;
  top:666px;
  width:153px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:226px;
  top:221px;
  width:96px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:285px;
  top:217px;
  width:200px;
  height:30px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u154 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:292px;
  top:221px;
  width:171px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:968px;
  top:354px;
  width:94px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
}
#u158 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:227px;
  top:750px;
  width:105px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:323px;
  top:750px;
  width:19px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:363px;
  top:750px;
  width:19px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:395px;
  top:750px;
  width:31px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:313px;
  top:754px;
  width:10px;
  height:16px;
}
#u167_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u167_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u167_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u168 {
  position:absolute;
  left:351px;
  top:753px;
  width:10px;
  height:16px;
}
#u168_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u168_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u168_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u169 {
  position:absolute;
  left:383px;
  top:752px;
  width:10px;
  height:16px;
}
#u169_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u169_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u169_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u170 {
  position:absolute;
  left:425px;
  top:752px;
  width:10px;
  height:16px;
}
#u170_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u170_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u170_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u171 {
  position:absolute;
  left:611px;
  top:751px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u173 {
  position:absolute;
  left:883px;
  top:749px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u175 {
  position:absolute;
  left:661px;
  top:750px;
  width:19px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u177 {
  position:absolute;
  left:691px;
  top:751px;
  width:19px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u179 {
  position:absolute;
  left:717px;
  top:751px;
  width:19px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u181 {
  position:absolute;
  left:747px;
  top:745px;
  width:26px;
  height:26px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u182 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:785px;
  top:749px;
  width:19px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:815px;
  top:749px;
  width:43px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:851px;
  top:749px;
  width:43px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:933px;
  top:749px;
  width:125px;
  height:18px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:18px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:1035px;
  top:745px;
  width:47px;
  height:24px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:24px;
}
#u192 {
  position:absolute;
  left:2px;
  top:3px;
  width:43px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:8px;
  top:-1px;
  width:1083px;
  height:56px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:66px;
}
#u195 {
  position:absolute;
  left:2px;
  top:20px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:107px;
  top:24px;
  width:189px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:29px;
  top:14px;
  width:71px;
  height:36px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u199 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:8px;
  top:101px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u200_img.mouseOver {
}
#u200.mouseOver {
}
#u201 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:980px;
  top:23px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u204 {
  position:absolute;
  left:1019px;
  top:25px;
  width:10px;
  height:15px;
}
#u204_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u204_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u204_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u205 {
  position:absolute;
  left:1037px;
  top:23px;
  width:48px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:8px;
  top:57px;
  width:200px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u207_img.mouseOver {
}
#u207.mouseOver {
}
#u208 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:9px;
  top:327px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u209_img.mouseOver {
}
#u209.mouseOver {
}
#u210 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:9px;
  top:372px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u211_img.mouseOver {
}
#u211.mouseOver {
}
#u212 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:8px;
  top:191px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u213_img.mouseOver {
}
#u213.mouseOver {
}
#u214 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:8px;
  top:236px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u215_img.mouseOver {
}
#u215.mouseOver {
}
#u216 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:8px;
  top:281px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u217_img.mouseOver {
}
#u217.mouseOver {
}
#u218 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:8px;
  top:420px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u219_img.mouseOver {
}
#u219.mouseOver {
}
#u220 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:8px;
  top:146px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u221_img.mouseOver {
}
#u221.mouseOver {
}
#u222 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:207px;
  top:23px;
  width:156px;
  height:18px;
  color:#FFFFFF;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:18px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:324px;
  top:23px;
  width:360px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:22px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:504px;
  top:353px;
  width:77px;
  height:27px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:577px;
  top:349px;
  width:200px;
  height:30px;
}
#u229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u229_input:disabled {
  color:grayText;
}
#u230 {
  position:absolute;
  left:500px;
  top:220px;
  width:77px;
  height:27px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:573px;
  top:216px;
  width:200px;
  height:30px;
}
#u232_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u232_input:disabled {
  color:grayText;
}
#u233 {
  position:absolute;
  left:216px;
  top:106px;
  width:97px;
  height:33px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u234 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:335px;
  top:106px;
  width:100px;
  height:33px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u236 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:407px;
  top:349px;
  visibility:hidden;
}
#u237_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u237_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:264px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:264px;
}
#u239 {
  position:absolute;
  left:2px;
  top:124px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:25px;
  top:24px;
  width:212px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:23px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:25px;
  top:57px;
  width:212px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:23px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:25px;
  top:90px;
  width:212px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:23px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:25px;
  top:123px;
  width:212px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:23px;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:146px;
  top:190px;
  width:94px;
  height:34px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
}
#u249 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:355px;
  top:13px;
  width:25px;
  height:25px;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u251 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:797px;
  top:305px;
  width:96px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:839px;
  top:300px;
  width:200px;
  height:30px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u255 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
