body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1079px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:56px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:66px;
}
#u2 {
  position:absolute;
  left:2px;
  top:20px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:95px;
  top:25px;
  width:189px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:17px;
  top:15px;
  width:71px;
  height:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:968px;
  top:24px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1007px;
  top:26px;
  width:10px;
  height:15px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u10 {
  position:absolute;
  left:1025px;
  top:24px;
  width:48px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:60px;
  width:1079px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:45px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:985px;
  top:66px;
  width:83px;
  height:24px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:3px;
  width:79px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:316px;
  top:24px;
  width:360px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:7px;
  top:56px;
  width:1072px;
  height:39px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:49px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:1068px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:19px;
  top:62px;
  width:389px;
  height:23px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:23px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:7px;
  top:106px;
  width:1072px;
  height:959px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:969px;
}
#u23 {
  position:absolute;
  left:2px;
  top:472px;
  width:1068px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:31px;
  top:166px;
  width:65px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:19px;
  top:114px;
  width:389px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:46px;
  top:249px;
  width:67px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:31px;
  top:305px;
  width:100px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:131px;
  top:248px;
  width:188px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:135px;
  top:305px;
  width:147px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:143px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:31px;
  top:368px;
  width:100px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:113px;
  top:368px;
  width:188px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:537px;
  top:248px;
  width:100px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:31px;
  top:434px;
  width:100px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:131px;
  top:434px;
  width:188px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:531px;
  top:434px;
  width:100px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:631px;
  top:434px;
  width:188px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:531px;
  top:305px;
  width:100px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:602px;
  top:305px;
  width:188px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:531px;
  top:368px;
  width:100px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:609px;
  top:368px;
  width:188px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:686px;
  top:254px;
  width:171px;
  height:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:31px;
  top:494px;
  width:100px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:131px;
  top:490px;
  width:188px;
  height:30px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:7px;
  top:544px;
  width:1072px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:1055px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1072px;
  height:1px;
}
#u65 {
  position:absolute;
  left:25px;
  top:574px;
  width:100px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:64px;
  top:606px;
  width:185px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:378px;
  top:606px;
  width:185px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:248px;
  top:606px;
  width:130px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:551px;
  top:606px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:669px;
  top:606px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:787px;
  top:606px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:905px;
  top:606px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:64px;
  top:686px;
  width:155px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:378px;
  top:686px;
  width:185px;
  height:40px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u84 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:248px;
  top:686px;
  width:130px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:551px;
  top:686px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u88 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:669px;
  top:686px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:787px;
  top:686px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:905px;
  top:686px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u94 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:64px;
  top:646px;
  width:959px;
  height:40px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:40px;
}
#u96 {
  position:absolute;
  left:2px;
  top:12px;
  width:955px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:78px;
  top:656px;
  width:895px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:895px;
  height:20px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:895px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:64px;
  top:766px;
  width:155px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u100 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:378px;
  top:766px;
  width:185px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u102 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:248px;
  top:766px;
  width:130px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u104 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:551px;
  top:766px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u106 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:669px;
  top:766px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u108 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:787px;
  top:766px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u110 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:905px;
  top:766px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u112 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:64px;
  top:726px;
  width:959px;
  height:40px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:40px;
}
#u114 {
  position:absolute;
  left:2px;
  top:12px;
  width:955px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:78px;
  top:736px;
  width:895px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:895px;
  height:20px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:895px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:64px;
  top:846px;
  width:173px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u118 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:378px;
  top:846px;
  width:185px;
  height:40px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u120 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:248px;
  top:846px;
  width:130px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u122 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:551px;
  top:846px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u124 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:669px;
  top:846px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u126 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:787px;
  top:846px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u128 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:905px;
  top:846px;
  width:118px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:64px;
  top:806px;
  width:959px;
  height:40px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:40px;
}
#u132 {
  position:absolute;
  left:2px;
  top:12px;
  width:955px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:78px;
  top:816px;
  width:895px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:895px;
  height:20px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:895px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:64px;
  top:925px;
  width:155px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u136 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:378px;
  top:926px;
  width:185px;
  height:40px;
  font-family:'STKaitiSC-Regular', 'Kaiti SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u138 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:248px;
  top:925px;
  width:130px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u140 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:551px;
  top:925px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u142 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:669px;
  top:925px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u144 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:787px;
  top:925px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u146 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:905px;
  top:925px;
  width:118px;
  height:40px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u148 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:64px;
  top:885px;
  width:959px;
  height:40px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:40px;
}
#u150 {
  position:absolute;
  left:2px;
  top:12px;
  width:955px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:78px;
  top:895px;
  width:895px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:895px;
  height:20px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:895px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:691px;
  top:1011px;
  width:16px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:710px;
  top:1011px;
  width:16px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:729px;
  top:1011px;
  width:16px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:750px;
  top:1011px;
  width:16px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:769px;
  top:1011px;
  width:16px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:793px;
  top:1011px;
  width:21px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:655px;
  top:1007px;
  width:22px;
  height:23px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u166 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:813px;
  top:1003px;
  width:68px;
  height:31px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u168 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:881px;
  top:1003px;
  width:55px;
  height:31px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:31px;
}
#u170 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:947px;
  top:1003px;
  width:68px;
  height:31px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u172 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:172px;
  top:146px;
  width:106px;
  height:90px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:90px;
}
#u174 {
  position:absolute;
  left:2px;
  top:37px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:319px;
  top:436px;
  width:118px;
  height:25px;
}
#u175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u176 {
  position:absolute;
  left:531px;
  top:494px;
  width:100px;
  height:22px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:643px;
  top:490px;
  width:188px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u179 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:855px;
  top:495px;
  width:118px;
  height:25px;
}
#u180_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u181 {
  position:absolute;
  left:985px;
  top:63px;
  width:83px;
  height:24px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
}
#u182 {
  position:absolute;
  left:2px;
  top:3px;
  width:79px;
  word-wrap:break-word;
}
