body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1085px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:6px;
  width:1083px;
  height:56px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:66px;
}
#u2 {
  position:absolute;
  left:2px;
  top:20px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:99px;
  top:31px;
  width:189px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:21px;
  top:21px;
  width:71px;
  height:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:108px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:972px;
  top:30px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:1011px;
  top:32px;
  width:10px;
  height:15px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u11_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u12 {
  position:absolute;
  left:1029px;
  top:30px;
  width:48px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:64px;
  width:200px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1px;
  top:334px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1px;
  top:379px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:198px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:243px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:288px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:427px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:153px;
  width:200px;
  height:41px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:199px;
  top:30px;
  width:156px;
  height:18px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:316px;
  top:30px;
  width:360px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:22px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:204px;
  top:68px;
  width:878px;
  height:35px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:45px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:212px;
  top:72px;
  width:144px;
  height:25px;
  font-size:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:204px;
  top:111px;
  width:878px;
  height:110px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:120px;
}
#u39 {
  position:absolute;
  left:2px;
  top:47px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:207px;
  top:374px;
  width:878px;
  height:366px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:376px;
}
#u41 {
  position:absolute;
  left:2px;
  top:175px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:206px;
  top:231px;
  width:878px;
  height:133px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:143px;
}
#u43 {
  position:absolute;
  left:2px;
  top:58px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:220px;
  top:124px;
  width:105px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:302px;
  top:122px;
  width:178px;
  height:22px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u46_input:disabled {
  color:grayText;
}
#u47 {
  position:absolute;
  left:512px;
  top:122px;
  width:105px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:563px;
  top:119px;
  width:200px;
  height:26px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u50 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:944px;
  top:178px;
  width:108px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:206px;
  top:374px;
  width:879px;
  height:47px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:47px;
}
#u54 {
  position:absolute;
  left:2px;
  top:16px;
  width:875px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:230px;
  top:393px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:450px;
  top:393px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:745px;
  top:393px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:1028px;
  top:392px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:206px;
  top:458px;
  width:879px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:862px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:879px;
  height:1px;
}
#u64 {
  position:absolute;
  left:206px;
  top:502px;
  width:879px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:862px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:879px;
  height:1px;
}
#u65 {
  position:absolute;
  left:206px;
  top:552px;
  width:879px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:862px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:879px;
  height:1px;
}
#u66 {
  position:absolute;
  left:212px;
  top:440px;
  width:77px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:470px;
  top:440px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:715px;
  top:440px;
  width:172px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:18px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1032px;
  top:440px;
  width:44px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:212px;
  top:484px;
  width:77px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:470px;
  top:484px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:715px;
  top:484px;
  width:172px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:18px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:1032px;
  top:484px;
  width:44px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:214px;
  top:534px;
  width:77px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:472px;
  top:534px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:716px;
  top:534px;
  width:172px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:18px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:1034px;
  top:534px;
  width:44px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:220px;
  top:244px;
  width:105px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:302px;
  top:242px;
  width:178px;
  height:22px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u92_input:disabled {
  color:grayText;
}
#u93 {
  position:absolute;
  left:512px;
  top:247px;
  width:105px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:568px;
  top:243px;
  width:200px;
  height:26px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u96 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:799px;
  top:251px;
  width:105px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:855px;
  top:247px;
  width:200px;
  height:26px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u100 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:229px;
  top:294px;
  width:105px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:285px;
  top:290px;
  width:200px;
  height:26px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u104 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:514px;
  top:293px;
  width:105px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:570px;
  top:289px;
  width:200px;
  height:26px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u108 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:957px;
  top:323px;
  width:108px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u110 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:799px;
  top:293px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:862px;
  top:287px;
  width:200px;
  height:30px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
