body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1081px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:56px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:66px;
}
#u2 {
  position:absolute;
  left:2px;
  top:20px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:95px;
  top:25px;
  width:189px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:17px;
  top:15px;
  width:71px;
  height:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:968px;
  top:24px;
  width:40px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1007px;
  top:26px;
  width:10px;
  height:15px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u10 {
  position:absolute;
  left:1025px;
  top:24px;
  width:48px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:60px;
  width:1079px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:45px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:985px;
  top:66px;
  width:83px;
  height:24px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:3px;
  width:79px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:316px;
  top:24px;
  width:360px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1px;
  top:61px;
  width:1079px;
  height:35px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:45px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:21px;
  top:65px;
  width:223px;
  height:25px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:25px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:986px;
  top:67px;
  width:83px;
  height:24px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:79px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:3px;
  top:104px;
  width:1078px;
  height:568px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:578px;
}
#u25 {
  position:absolute;
  left:2px;
  top:276px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:31px;
  top:119px;
  width:105px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:107px;
  top:113px;
  width:200px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:35px;
  top:165px;
  width:105px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:107px;
  top:159px;
  width:200px;
  height:30px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u32_input:disabled {
  color:grayText;
}
#u33 {
  position:absolute;
  left:642px;
  top:113px;
  width:105px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:718px;
  top:107px;
  width:200px;
  height:30px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u35_input:disabled {
  color:grayText;
}
#u36 {
  position:absolute;
  left:645px;
  top:163px;
  width:105px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:721px;
  top:157px;
  width:200px;
  height:30px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38_input:disabled {
  color:grayText;
}
#u39 {
  position:absolute;
  left:330px;
  top:114px;
  width:105px;
  height:22px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:417px;
  top:108px;
  width:200px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:339px;
  top:360px;
  width:114px;
  height:23px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:23px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:407px;
  top:356px;
  width:280px;
  height:103px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:103px;
}
#u46 {
  position:absolute;
  left:2px;
  top:44px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:347px;
  top:211px;
  width:95px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:415px;
  top:207px;
  width:200px;
  height:30px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50 {
  position:absolute;
  left:339px;
  top:493px;
  width:114px;
  height:23px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:23px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:407px;
  top:483px;
  width:280px;
  height:103px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:103px;
}
#u53 {
  position:absolute;
  left:2px;
  top:44px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:316px;
  top:165px;
  width:127px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:18px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:653px;
  top:213px;
  width:95px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:721px;
  top:209px;
  width:200px;
  height:30px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59 {
  position:absolute;
  left:848px;
  top:597px;
  width:193px;
  height:43px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:43px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:189px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:418px;
  top:164px;
  width:200px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:118px;
  top:118px;
  width:171px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:426px;
  top:115px;
  width:171px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:416px;
  top:363px;
  width:171px;
  height:20px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:39px;
  top:273px;
  width:95px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:8px;
  top:226px;
  width:95px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:55px;
  top:325px;
  width:95px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:107px;
  top:269px;
  width:200px;
  height:30px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:107px;
  top:220px;
  width:171px;
  height:30px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:284px;
  top:220px;
  width:45px;
  height:30px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:107px;
  top:318px;
  width:200px;
  height:30px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:107px;
  top:358px;
  width:200px;
  height:30px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:62px;
  top:409px;
  width:95px;
  height:18px;
  font-family:'DFWaWaTC-W5', 'Wawati TC';
  font-weight:400;
  font-style:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:119px;
  top:411px;
  width:100px;
  height:18px;
}
#u88 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u87_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u89 {
  position:absolute;
  left:186px;
  top:411px;
  width:100px;
  height:18px;
}
#u90 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u89_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u91 {
  position:absolute;
  left:263px;
  top:411px;
  width:100px;
  height:18px;
}
#u92 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u91_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
